<form action='/memo/new' method="post">
  <p><input required type="text" name="title" size="40"></p>
  <p><input type="textarea" name="text" size="80"></p>
  <p><input type="submit" value="送信"></p>
</form>

<p><a href="/memos"> ホームへ戻る</a></p>