<h3><%= h(@memo["title"]) %></h3>
<p><%= h(@memo["text"]) %></p>

<form method="get" action="/memo/edit/<%= @memo["id"] %>">
    <input type="submit" value="編集">
</form>

<form method="post" action="/memo/<%= @memo["id"] %>">
    <input type="hidden" name="_method" value="DELETE"> 
    <input type="submit" value="削除">
</form>
<p><a href="/memos"> ホームへ戻る</a></p>